<div class='navbar navbar-default' id='navbar'>
  <a class='navbar-brand' href='#'>
    <img src="/images/logo_zxb.png" class="logozxb">北航附中选修课报名系统 - 管理员面板</a>
  <ul class='nav navbar-nav pull-right'>
    <li>
      <a href='#'> <i class='icon-cog'></i>
        账户设置
      </a>
    </li>
    <li class='dropdown user'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'> 
        <i class='icon-user'></i> 
        <strong>王秀芬</strong> 
        <b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
        <li>
          <a href="/">退出登录</a>
        </li>
      </ul>
    </li>
  </ul>
</div>